# Copy to .env and fill in values

# SQLite database (development)
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="replace-with-a-random-32-char-string"
NEXTAUTH_URL="http://localhost:3000"
